html, body, #root{
  height: 100%;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&display=swap');
h1{
  font-family: 'Fredoka One', cursive;
}