.Searchbar{
    display: flex;
    min-height: 25px;
    max-height: 30px;
    justify-content: center;
}
select{
    margin-left: 25px;
    height: 30px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchcontent{
    height: 20px;
    border: 2px solid black;
    background: white;
    color: black;
    margin: 0;
    width: 65%;
    font-size: 15px;
}
.icon{
    color: white;
}
.icon:hover{
    color: #fa923f;
    cursor: pointer;
}

@media (max-width: 1072px){
    .Searchbar{
        flex-direction: column;
        width: 156px;
    }
    select{
        margin-bottom: 25px;
        height: 30px
    }
    .icon{
        color: black;
    }
    .Searchbar > div{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    select{
        margin-left: 0;
        margin-right: 0;
    }
    .searchcontent{
        width: 130px;
    }
}