.Searchbar{
    display: flex;
}
select{
    margin-left: 25px;
}
@media (max-width: 769px){
    .Searchbar{
        flex-direction: column;
        width: 156px;
    }
    select{
        margin-bottom: 25px;
        height: 30px
    }
}