.App{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/notes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}